{% block content %}
    <div>
      <main>
        <h1>
          Race Game
        </h1>
        <div id="panel">
          <div class="panel__label">Score &mdash; <span id="score">0</span></div>
          <div>
            <button id="dice">Roll dice</button>
            <span id="diceResult"></span>
          </div>
        </div>
        <ul id="players">
          {% for key,values in teams.items() %}
            <li> {{key}} (Score: {{ scores[key] }}) </li>
            <ul>
              {% for value in values %}
                <li> {{ value }} </li>  
              {% endfor %}   
            </ul>    
          {% endfor %}
        </ul>
      </main>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='play.js') }}"></script>
{% endblock %}